*{
padding: 10px;
}
.main{
    margin: auto;
    width: 50%;
    border: 5px solid rgba(168, 130, 238, 0.464);
    padding: 12px;
}

.table_data{
        margin: auto;
        width: 50%;
        border: 3px solid rgb(230, 27, 139);
        padding: 10px;
}